.movie-cardlist {
  margin: 37px 70px 30px;
}

.movie-cardlist__elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 1279px) {
  .movie-cardlist__elements {
    justify-content: space-around;
  }
}

@media screen and (max-width: 800px) {
  .movie-cardlist {
    margin: 33px 30px 30px;
  }

  .movie-cardlist__elements {
    justify-content: space-between;
  }
}

@media screen and (max-width: 737px) {
  .movie-cardlist__elements {
    justify-content: center;
  }
}

@media screen and (max-width: 425px) {
  .movie-cardlist {
    margin: 20px 10px 30px;
  }
}
