.movies__more {
  padding: 50px 0 80px;
  display: flex;
  justify-content: center;
}

.movies__more-button {
  width: 320px;
  height: 36px;
  border: 1px solid #424242;
  border-radius: 10px;
  cursor: pointer;
  background-color: #202020;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  transition-duration: .4s;
}

.movies__more-button:hover {
  opacity: .6;
}

.movies__massage {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 425px) {
  .movies__more-button {
    width: 240px;
  }
}
