.not-found {
  text-align: center;
  padding: 300px 0 60px;
}

.not-found__sign {
  font-size: 140px;
  line-height: 169px;
  margin: 0;
  font-weight: 400;
}

.not-found__text {
  margin: 5px 0 184px;
  font-size: 16px;
  line-height: 19px;
}

.not-found__link {
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
  text-decoration: none;
  transition-duration: .4s;
}

.not-found__link:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .not-found__sign {
    font-size: 80px;
    line-height: 97px;
  }
}

@media screen and (max-width: 425px) {
  .not-found__text {
    font-size: 12px;
    line-height: 15px;
    margin: 10px 0 282px;
  }
}
