.search-form {
  padding: 75px 70px 10px;
}

.search-form__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__input {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  background: #2F2F2F;
  border: none;
  padding-left: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #8B8B8B;
}

.search-form__button {
  min-height: 44px;
  min-width: 44px;
  background-image: url(../../images/find-button.svg);
  border: none;
  background-color: #202020;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition-duration: .4s;
  margin-left: 10px;
}

.search-form__button:hover {
  opacity: .6;
}

.search-form__line {
  border: 1px solid #424242;
  margin-top: 39px;
}

@media screen and (max-width: 800px) {
  .search-form {
    padding: 75px 30px 10px;
  }
}

@media screen and (max-width: 425px) {
  .search-form {
    padding: 75px 14px 10px;
  }

  .search-form__input {
    height: 44px;
  }
}
