.register {
  max-width: 396px;
  min-height: 100hv;
  margin: auto;
  padding-top: 150px;
}

.register__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  margin: 37px 0 0;
}

.register__form {
  margin: 40px 0 91px;
}

.register__group {
  display: flex;
  flex-direction: column;
  position: relative;
}

.register__group:not(:first-child) {
  margin-top: 20px;
}

.register__form-label {
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.register__form-input {
  height: 44px;
  background: #2F2F2F;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  padding-left: 15px;
}

.register__form-input_red {
  color: #EE3465;
}

.register__form-input-error {
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  position: absolute;
  top: 78px;
}

.register__submit-button {
  width: 100%;
  height: 45px;
  background: #4285F4;
  border-radius: 3px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition-duration: .4s;
  font-size: 14px;
  line-height: 17px;
}

.register__submit-button:hover {
  opacity: .6;
}

.register__singin {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 17px;
  margin-top: 16px;
}

.register__singin-text {
  margin: 0;
  color: #8B8B8B;
}

.register__singin-link {
  color: #4285F4;
  text-decoration: none;
  transition-duration: .4s;
  margin-left: 6px;
}

.register__singin-link:hover {
  opacity: .6;
}

@media screen and (max-width: 425px) {
  .register {
    max-width: 260px;
    padding-top: 63px;
    text-align: center;
  }

  .register__title {
    margin: 47px 0 0;
  }

  .register__form {
    margin: 80px 0 179px;
    text-align: start;
  }

  .register__submit-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }

  .register__singin {
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 15px;
    margin-top: 16px;
  }
}
